//CSS variables
:root {
  --darkCyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  //Neutral
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}
