@use "../util" as u;

body {
  background-color: var(--Cream);
  display: grid;
  place-content: center;
}

.main {
  width: 100%;
  .card {
    width: min(90%, u.rem(600));
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    border-radius: u.rem(20);
    background-color: var(--White);
    margin: auto;
    overflow: hidden;

    @include u.breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }

    .card__img {
      max-width: 100%;
      height: auto;
    }

    &_info {
      width: 100%;
      padding: u.rem(24);

      .card_price {
        width: u.rem(194);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: u.rem(20);
      }
    }
  }
}
