@use "../util" as u;

.main {
  width: 100%;
  height: 100vh;
  background-color: var(--Cream);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 90%;
    border-radius: u.rem(20);
    background-color: var(--White);
    overflow: hidden;

    &_img {
      width: 100%;
      height: u.rem(240);
      background-image: url(../images/image-product-mobile.jpg);
      background-position: center center;
      background-size: cover;
    }

    &_info {
      width: 100%;
      padding: u.rem(24);

      .card_price {
        width: u.rem(194);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: u.rem(20);
      }

      .card_button {
        width: 100%;
        //ojo con el tama;o al momento del desktop
        display: flex;
        justify-content: center;
        align-items: center;
        gap: u.rem(11.61);
        background-color: var(--darkCyan);
        padding: u.rem(15) 0;
        border-radius: u.rem(8);

        &::before {
          content: url(/images/icon-cart.svg);
        }
      }
    }
  }
}
